# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Web Scraper/*
!/Web Scraper/main/
/Web Scraper/main/*
!/Web Scraper/main/scraper.py
!/Web Scraper/main/source.html
!/Web Scraper/main/Moderna_COVID_vaccine_becomes_second_to_get_US_authorization.txt
!/Web Scraper/main/Biden’s_pick_to_head_US_environment_agency_heartens_scientists.txt
!/Web Scraper/main/Is_lightning_striking_the_Arctic_more_than_ever_before.txt
